.shrine_show {
  height: 500vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.show_main {
  width: 100%;
  height: 100%;
  background-color: indigo;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.shrine_name {
  height: 5vh;
  position: absolute;
  left: 0;
  margin-left: 10vw;
  font-size: 3rem;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体';
  margin-bottom: 20px;
  padding-top: 15px;
}

/* 神社画像の表示 */
.show_image {
  width: 90%;
  height: calc(100vh - 150px);
  margin-top: 100px;
  background-color: khaki;  
}

.image {
  width: 85%;
  height: 100vh;
  background-color: teal;
  margin: 15px;
}

.shrine_image {
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.gallery-top {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

// 概要説明
.show_info {
  width: 90%;
  height: 450px;
  margin-top: 15px;
  padding: 15px;
  background-color: white;
  display: flex;
}

.guide {
  width: 70%;
  height: 100%;
  margin: 15px;
  font-size: 20px;

  h1 {
    font-size: larger;
    border-bottom: black 1px solid;
    width: 150px;
  }

  table, td {
    border: black 2px solid;
  }

  table {
    margin: 10px;
    width: 97%;
    box-shadow: 6px 6px black; 
  }

  td {
    padding: 20px;
  }
  
  .info {
    height: 190px;
  }
}

.shrine_map {
  width: 45%;
  height: 100%;
  background-color: lightpink;

  #map {
    height: 100%;
  }
}

.shrine_comments {
  width: 90%;
  height: 400px;
  margin: 15px 0;
  background-color: lightgrey;
}

.shrine_goshuin {
  width: 90%;
  height: 450px;
  margin: 0 0 15px;
  background-color: lightgrey;
}

.shrine_build {
  width: 90%;
  height: 450px;
  margin: 0 0 15px;
  background-color: lightgrey;
}

.shrine_nature {
  width: 90%;
  height: 450px;
  margin: 0 0 15px;
  background-color: lightgrey;
}

.shrine_history {
  width: 90%;
  height: 450px;
  margin: 0 0 15px;
  background-color: lightgrey;
}