#shrine_nav {
  width: 15%;
  height: 100%;
  background-color: gray;
  position: sticky;
  top: 111.25;
  margin-right: 15px;

  ul {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  h1, li {
    font-family: '源ノ明朝';
    padding: 10px;
  }

  h1 {
    font-size: 20px;
    color: #EB6101;
  }

  li {
    color: #fff;
  }

  .shrine_link {
    text-decoration: none;
  }    
}