<div class="message">
  <div class = "comment_image">
    <div class="message-image comment">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= image_tag comment.image.variant(resize: '200x200'), class: 'comment-image' if comment.image.attached? %>
    </div>
  </div>

  <div class = "comment_text">
    <div class="message-user comment">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= comment.user.nickname %>
    </div>  
    <div class="message-content comment">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= comment.text %>
    </div>
  </div>
</div>