<div class = 'shrine_show'>
  <div class = 'show_main'>
  <%# 神社画像の表示 %>
    <div class = 'show_image'>
      <%= render 'swiper'%>
    </div>

    <%# 神社情報の表示 %>
    <div class = 'show_info'>
      <div class = 'guide'>
      </div>

      <%# 神社の所在地を示す地図の表示 %>
      <div class = 'shrine_map'>
        <div id="map" data-json="<%= @shrine.to_json %>"></div>
      </div>    
    </div>

    <%# この神社についてのコメント欄 %>
    <div class = 'shrine_comments'>
    </div>

    <%# 御朱印についての投稿 %>
    <div class = 'shrine_goshuin'>
    </div>

    <%# 神社の自然についての投稿 %>
    <div class = 'shrine_build'>
    </div>

    <%# 神社の自然についての投稿 %>
    <div class = 'shrine_nature'>
    </div>

    <%# 神社の歴史についての投稿 %>
    <div class = 'shrine_history'>
    </div>    
  </div>
</div>

<script src="//unpkg.com/swiper/swiper-bundle.min.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyadiU2YaDtGtxz6KHPYO_CHRG42Ji26g&callback=initMap"></script>