<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>寺社仏閣を見る</h2>
      <ul>
        <li><%= link_to '神社一覧', shrines_path, class: "footer-link" %></li>
        <li><%= link_to '寺院一覧', temples_path, class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("mainoru-logo-white.png", class:"logo-white"), root_path %>
  <p>© MAINORU</p>
</div>