@import url("comment.scss");
@import url("info.scss");
@import url("image.scss");
@import url("show_nav.scss");

.temple_show {
  height: 100%;
  width: 100vw;
  display: flex;
  background-color: rgb(238, 237, 235);
}

.show_main {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.title {
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0;
  margin-left: 50px;

  .temple_name_title {
    width: 100vw;
    left: 0;
    top: 50px;
    font-size: 3rem;
    color: brown;
    letter-spacing: 5px;
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体';
    margin-bottom: 20px;
    padding-top: 15px;
  }

  .temple_edit {
    margin-top: 40px;
    width: 250px;

    .edit-btn {
      text-decoration: none;
      color: #fff;
      padding: 20px;
      background-color: gray;
      border-radius: 15px;
    }
  }
  
}
