<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><%= image_tag '白髭神社.jpg', class: 'slide_photo' %></div>
    <div class="swiper-slide"><%= image_tag '興福寺と鹿.jpg', class: 'slide_photo' %></div>
    <div class="swiper-slide"><%= image_tag '平等院全景.jpg', class: 'slide_photo' %></div>
    <div class="swiper-slide"><%= image_tag '功山寺仏殿.jpg', class: 'slide_photo' %></div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<script src="//unpkg.com/swiper/swiper-bundle.min.js"></script>
