<div class = 'body'>

<%# トップスライド %>
<div class = 'slide'>
</div>

<div class = 'contents'>

  <%# ページの特徴 %>
  <div class = 'features'>
  </div>

  <%# 使用方法 %>
  <div class = 'how_to'>
    <div class = 'left_content'>
    </div>
    <div class = 'center_content'>
    </div>
    <div class = 'right_content'>
    </div>
  </div>

  <%# 自己紹介 %>
  <div class = 'author'>
  </div>

</div>

<%# 各種リンク %>
<div class = 'footer_link'>
</div>