// Place all the styles related to the festivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.festival_main {
  min-height: 200vh;
  height: 100%;
  width: 100vw;
  display: flex;

  #nav {
    width: 20%;
  }

  .title {
    font-family: '源ノ明朝';
    font-size: 25px;

    .title_span {
      font-family: '源ノ明朝';
      font-size: 45px;
    }
  }
}

// コメントの表示

.comments {
  background-color: white;
}

.festival_comment {
  width: 50%;
  min-height: 100vh;
  height: 100%;
  background-color: green;
  padding: 15px;
  bottom: 0;

  .comment_image {
    position: relative;

    .comment-image, .comment {
      margin: 2px;
    }
  
    img {
      width: 100%;
      height: 100%;
    }
  
  }

  .form-comment {
    width: 90%;
    height: 85px;
  }

  .comment_form {
    min-height: 100vh;
    height: 100%;
    overflow: scroll;
  }

  .comment_text {
    margin-left: 30px;
  }

  .form-input {
    bottom: 0;
  }

  .text_area {
    display: flex;
    height: 100px;

    .form-submit {
      width: 60px;
      height: 55px;
      margin: 30px 0;
    }
  }
}

// 神社情報の表示
.festival_info {
}

#info {
  width: 30%;
  height: 100px;
  min-height: 100vh;
  background-color: yellow;
  position: sticky;
  top: 111.25;
}