  <div id= 'info' class= 'infomation'>
      <table>
        <tr>
          <td class='name'><%= @temple.name %></td>
        </tr>      
        <tr>
          <td colspan="2", class='temple_info'><%= @temple.info %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @temple.address %></td>
        </tr>
        <tr>
          <td>ご利益</td>
          <td><%= @temple.benefits.name %></td>
        </tr>                 
      </table>
  </div>