  <div id= 'info' class= 'festival_info'>
      <table>
        <tr>
          <td class='name'><%= @shrine.name %></td>
        </tr>      
        <tr>
          <td colspan="2", class='shrine_info'><%= simple_format(@shrine.info) %></td>
        </tr>
        <tr>
          <th class='item_name'>住所</th>
          <td class = "address"><%= @shrine.address %></td>
        </tr>
        <tr>
          <td class = 'item_name'>ご利益</td>
          <td><%= @shrine.benefits.name %></td>
        </tr>                 
      </table>
  </div>