// Place all the styles related to the shrines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shrine_index {
  height: 150vh;
  width: 100vw;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.line_contents {
  width: 90vw;
  height: 400px;
  background-color: burlywood;
  border: black solid 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left_box { 
  height: 350px;
  width: 350px;
  background-color: crimson;
}

.center_box { 
  height: 350px;
  width: 350px;
  background-color: rgb(20, 220, 137);
}

.right_box { 
  height: 350px;
  width: 350px;
  background-color: rgb(220, 217, 20);
}

